<section class="right_part">
  <div class="contact_card_main">
    <div class="contact_card_content_main">
      <img src="assets/images/user_avatars/ava_5.jpg" alt="" class="contact_card_avatar_main">
      <div class="contact_card_text_main">
        <p class="contact_card_name_main">Stefania Burtea</p>
        <p class="contact_card_old_msg_main">Position: <span>Junior Developer</span></p>
      </div>
    </div>
  </div>
  <div class="chat_section">
    <div class="messages_section">
      <div class="my_message">
        <div class="my_message_text_box">
          <div class="my_message_text">This is my message</div>
          <div class="triangle_right"></div>
        </div>
        <p id="time-paragraph">Time now</p>
      </div>
      <div class="his_message">
        <div class="his_message_text_box">
          <div class="triangle_left"></div>
          <div class="his_message_text">This is his message</div>

        </div>
        <p id="time-paragraph">Time now</p>
      </div>
      <div class="his_message">
        <div class="his_message_text_box">
          <div class="triangle_left"></div>
          <div class="his_message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laudantium ipsa, quasi qui nobis reiciendis neque dicta quisquam, minus corrupti doloremque quam ipsum culpa incidunt quo quidem reprehenderit nihil! Obcaecati culpa quam fuga sint nam iure, debitis repudiandae exercitationem quasi ratione maiores quis adipisci dolores laborum cumque suscipit laudantium illo!</div>

        </div>
        <p id="time-paragraph">Time now</p>
      </div>
      <div class="my_message">
        <div class="my_message_text_box">
          <div class="my_message_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit alias optio, officia reiciendis possimus dolorem odio aperiam dicta beatae iure, explicabo doloremque, facere velit. Excepturi repellendus quae quod architecto similique qui quo et culpa dolorem fugiat! Omnis accusantium consectetur ratione, vero amet sit nobis expedita iure soluta, animi, maxime doloremque reiciendis labore at. Facere, ipsum pariatur, rerum harum beatae itaque sed soluta officia et laudantium hic vel eaque nihil maiores tenetur corrupti enim quo dolores esse. Nostrum ullam facere magni?</div>
          <div class="triangle_right"></div>
        </div>
        <p id="time-paragraph">Time now</p>
      </div>
      <div class="my_message">
        <div class="my_message_text_box">
          <div class="my_message_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit alias optio, officia reiciendis possimus dolorem odio aperiam dicta beatae iure, explicabo doloremque, facere velit. Excepturi repellendus quae quod architecto similique qui quo et culpa dolorem fugiat! Omnis accusantium consectetur ratione, vero amet sit nobis expedita iure soluta, animi, maxime doloremque reiciendis labore at. Facere, ipsum pariatur, rerum harum beatae itaque sed soluta officia et laudantium hic vel eaque nihil maiores tenetur corrupti enim quo dolores esse. Nostrum ullam facere magni?</div>
          <div class="triangle_right"></div>
        </div>
        <p id="time-paragraph">Time now</p>
      </div>
      <div class="his_message">
        <div class="his_message_text_box">
          <div class="triangle_left"></div>
          <div class="his_message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laudantium ipsa, quasi qui nobis reiciendis neque dicta quisquam, minus corrupti doloremque quam ipsum culpa incidunt quo quidem reprehenderit nihil! Obcaecati culpa quam fuga sint nam iure, debitis repudiandae exercitationem quasi ratione maiores quis adipisci dolores laborum cumque suscipit laudantium illo!</div>

        </div>
        <p id="time-paragraph">Time now</p>
      </div>
    </div>
    <form action="" class="typing_form">
      <textarea class="chat_message" placeholder="Type Something..."></textarea>
      <button type="submit" class="chat_submit_button">
        <fa-icon [icon]="faPaperPlane" class="send_icon"></fa-icon>
      </button>
    </form>
  </div>
</section>
