<section class="center_part">
  <p class="center_part_header">
    Chat
  </p>
  <input type="text" class="search" placeholder="Search">
  <div class="contacts">
    <div class="contact_card" *ngFor="let user of users" (click)="clickedContact()">
      <p class="contact_card_date">01 Oct</p>
      <div class="contact_card_content">
        <img src="{{user.avatarPath}}" alt="avatar" class="contact_card_avatar">
        <div class="contact_card_text">
          <p class="contact_card_name">{{user.name}}</p>
          <p class="contact_card_old_msg">This is old message</p>
        </div>
        <div class="contact_card_indicator">
          <p class="contact_card_indicator_text">2</p>
        </div>
      </div>
    </div>

  </div>
</section>
